
/* Bottom right text */
.numero-matricula {
    position: absolute;
    bottom: 5px;
    color: black;
    padding-left: 170px;
}
h2{
    font-family: "Arial", Georgia, "Times New Roman", serif;
    font-size: 40px;
    font-weight: bold;
}

.etiqueta-not{
    color: black;
    font-size: 60px;
    background: lightgrey;
    text-align: center;
}
.etiqueta-b{
    color: yellow;
    font-size: 120px;
    background: lightgrey;
    text-align: center;
}
.etiqueta-c{
    color: green;
    font-size: 120px;
    background: lightgrey;
    text-align: center;
}
.etiqueta-0{
    color: blue;
    font-size: 120px;
    background: lightgrey;
    text-align: center;
}
